@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.users {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    color: #555;
    margin: 20px 0;
}

h2 {
    color: #555;
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.users p {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.users textarea {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid #ccc;
    font-size: 18px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    resize: none;
    background-color: #f9f9f9;
}

h1 .ip-address {
    color: rgb(13, 232, 53);
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

thead {
    background-color: #f4f4f4;
    color: #555;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

th {
    background-color: #e0e0e0;
}
